/* genreal */
$primary: #2f55d4;
$primary-hover: #2443AC;
$dark-blue: #161C2D;
$red: #e43f52;
$orange: #f17425;
$dark-orange: #d55b0e;
$green: #2eca8b;


/* icons */
$icon-bg: #2f55d41a;
$icon-border: #d1daf6;

/* badges */
$badge-bg: #2f55d41a;
$badge-border: #D4DDF7;
$badge-text: $primary;


/* header */
$header-bg: #f8f9fc;


/* main */
$default-txt: #8492a6;


/* footer */
$footer-bg: #202942;

$footer-headings: #f8f9fc;
$footer-links-text: #adb5bd;
$footer-links-hover: #fff;

$footer-input-bg: #27314f;
$footer-input-placeholder: #adb5bd;

$footer-button-bg: #27314f;
$footer-button-text: $primary;
$footer-button-shadow: 0 2px 4px 0 $primary;

$colophon-border: #283353;