body {
   font-family: "Nunito", sans-serif;
   font-size: 16px;
   color: var(--default-txt);
}

ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

a {
   text-decoration: none;
}

section {
   padding: 3rem 0;
}

h1, h2 {
   color: var(--dark-blue);
   font-weight: 700;
}

strong {
   color: var(--primary);
}

button {
   text-transform: capitalize;
}

.btn-primary {
   background-color: var(--primary);
   border-color: var(--primary);

   &:hover {
      background-color: var(--primary-hover);
      border-color: var(--primary-hover);
   }
}

.btn-outline-primary {
   border-color: var(--primary);

   &:hover {
      background-color: var(--primary-hover);
      border-color: var(--primary-hover);
   }
}
